<main>
  <section id="collectibles" class="ps">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <h2 class="title animated fadeInUp">Anti-Counterfeit Technology for Collectibles</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            RAIDAtech provides unique anti-counterfeit detection and authentication systems that can provide owners complete privacy and allow them to change ownership privately. This allows collectors the option to collect and trade without broadcasting transactions publicly, such as with blockchain.
            <br>
            Authentication data is embedded in the item itself and can be checked using a cell phone using the RAIDA network.
          </p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <b>NOTE: RAIDAtech does not own or control the RAIDA.</b>
          </p>
          <hr class="my-5 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Unique Patented Properties</h3>
          <ul class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <li class="lead">100% Private. No user accounts, logins or public ledgers required.</li>
            <li class="lead">Works with a cell phone.</li>
            <li class="lead">Inexpensive and eco-friendly. 41,000 times more efficent than blockchain technology.</li>
            <li class="lead">Uses RAIDA - a global counterfeit detection system that cannot be tampered with, hacked, controlled or read by governments and not even by RAIDAtech.</li>
            <li class="lead">Quantum safe.</li>
            <li class="lead">Easy system for registering items with the RAIDA network</li>
          </ul>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.4s">For more information contact Sean Worthington <a href="mailto:solutions@raidatech.com">solutions@raidatech.com</a></p>
        </div>
      </div>
    </div>
  </section>
</main>