<main>
  <section id="consumables" class="ps">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <h2 class="title animated fadeInUp">Anti-Counterfeit for Consumable Items</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            RAIDAtech provides what may be the world's most affordable anti-counterfeiting technology that shuts down counterfeiters 100%. RAIDAtech uses a new patented technology superior to blockchain in every way, so users win on price and effectiveness. This technology is designed for goods that are not collected and do not need to pass from owner to owner, including consumer goods like wines & spirits, printer cartridges, mobile phones, auto parts, cosmetics and many others. Costs are so low that there really is no reason not to use it, because it will add to the value of your product.
          </p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <b>NOTE: RAIDAtech does not own or control the RAIDA.</b>
          </p>
          <hr class="my-5 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
          <%= video_tag "wine.mp4", size: "540x580", controls: true, class: "animation", "data-animation" => "fadeInUp", "data-animation-delay" => "0.3s" %>
          <hr class="my-5 animation" data-animation="fadeInUp" data-animation-delay="0.3s">

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Unique Patented Properties Consumable Items</h3>
          <ul class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <li class="lead">Allows producers, shippers, retailers and end users to authenticate the item.</li>
            <li class="lead">Does not require any expensive chips and may cost less than $0.02 per item.</li>
            <li class="lead">Works with standard cell phones.</li>
            <li class="lead">Uses RAIDA network, a distributed database that cannot be tampered with even by RAIDAtech or governments.</li>
            <li class="lead">Quantum safe.</li>
          </ul>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">For more information contact Sean Worthington <a href="mailto:solutions@raidatech.com">solutions@raidatech.com</a></p>
        </div>
      </div>
    </div>
  </section>
</main>