<main>
  <section id="digital-securities" class="ps">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <h2 class="title animated fadeInUp">Compliant Tokenized Digital Securities</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            The RAIDAQ Platform is the future of investing. It is a simple, fast, affordable and legally compliant system for companies to tokenize ownership units/shares, make those units available 24/7 to a wider pool of investors and create much quicker avenues to secondary liquidity.
          </p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
             RAIDAQ Security Token Offerings (STOs) or Limited Company Offerings (LCOs) deliver your company innovative, robust and customizable protocols to save the time, expense and hassle of conventional funding.
          </p>
          <p class="lead animation my-5 text-center" data-animation="fadeInUp" data-animation-delay="0.4s">
            <%= image_tag "raidaq.jpg", width: "450" %>
          </p>
          <h3 class="animation my-4" data-animation="fadeInUp" data-animation-delay="0.2s">Patented Post-Blockchain Technology for Security Tokens</h3>
          <ul class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <li class="lead">Compliance:  RAIDAQ Platform is fully compliant with securities regulations and AML/KYC.</li> 
            <li class="lead">Liquidity: Global market access around the clock.</li> 
            <li class="lead">Security:  RAIDA technology is three sextillion (3e+21) times more secure than blockchain solutions. No fear of hacking or theft.</li> 
            <li class="lead">Customizable: Bespoke solutions that work with your specific needs.</li>
            <li class="lead">Transparency and portability:  Provides investors tangible and direct ownership stake.</li> 
            <li class="lead">Efficiency: Eliminates wasteful middlemen, market-makers and intermediaries.</li> 
            <li class="lead">Scope of Opportunity: Allows raising capital from previously excluded classes of investors, globally and in real time 24/7/365.</li>
            <li class="lead">Management: State-of-the-art solutions for investor relations and shareholder interactions, including performance tracking, dividend/profit sharing and documentation.</li>
          </ul>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.4s">For more information contact Sean Worthington <a href="mailto:solutions@raidatech.com">solutions@raidatech.com</a></p>
        </div>
      </div>
    </div>
  </section>
</main>