<main>
  <section id="digital-cash" class="ps">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <h2 class="title animated fadeInUp">True Discrete Digital Cash</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            No technology can surpass RAIDA (Redundant Array of Independent Detection Agents) as a foundation for digital cash. Sean Worthington's <em>Informational Theory of Perfect Money</em> was used as the basis to design and test the world's best digital currency experiment, <a href="https://cloudcoin.global/">CloudCoin</a>
          </p>
          <hr class="my-5 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
          <%= image_tag("sean_greece", width: "400", class: "animation", "data-animation" => "fadeInUp", "data-animation-delay" => "0.2s") %>
          <p class="animation mt-5" data-animation="fadeInUp" data-animation-delay="0.2s">
            Sean Worthington speaking to central bankers at the Future of Cash symposium in Athens, Greece
          </p>
          <hr class="my-5 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Unique Patented Properties For Real Digital Cash</h3>
          <ul class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <li class="lead">Data Supremacy: Can be configured so that not even creators can bring it down or hack it.</li> 
            <li class="lead">100% Private. Trustless without requiring accounts, logins or public ledgers.</li> 
            <li class="lead">Globally Scalable. Can handle all the world's transactions.</li> 
            <li class="lead">Inexpensive and eco-friendly. 41,000 times more energy efficient than blockchain technology.</li>
            <li class="lead">Ends Counterfeiting. Impossible to counterfeit.</li> 
            <li class="lead">No systemic risk of user loss. Users can recover lost currency and take actions to reduce risk of loss. Permanent loss is impossible.</li> 
            <li class="lead">No systemic risk of theft. Users can take actions to reduce risk of theft.</li>
            <li class="lead">Quantum safe. Not even supercomputers can hack it.</li>
            <li class="lead">Transacts in milliseconds. Contacts servers in parallel, rather than serial like blockchain.</li>
            <li class="lead">Fastest technology available. 23,000 times faster than blockchain. Capable of 160,000+ transactions per second.</li>
            <li class="lead">Cross-over currency. Can go in and out of video games and other applications.</li>
            <li class="lead">Supply can be fixed.</li>
            <li class="lead">Can save hundreds of millions in printing costs.</li>
          </ul>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.4s">For more information contact Sean Worthington <a href="mailto:solutions@raidatech.com">solutions@raidatech.com</a></p>
        </div>
      </div>
    </div>
  </section>
</main>