<main>
  <section id="medication-adherence" class="ps">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <h2 class="title animated fadeInUp">Patient AIO</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="animation title animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">Medication Adherence <span class="sub">through Engagement & Gamification <br> with 100% Safe, Secure and Compliant Patient Data </span></h3>          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="title">Finally an All-in-One Medication Adherence Solution</h3>

          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            Healthcare providers, pharmacists and pharmaceutical companies all know that medication adherence can be the single biggest impact on health outcomes, but that only 40-50% of patients routinely keep to prescribed regimens.  This leads to immeasurable human costs, hundreds of billions in avoidable healthcare expenses and equal distress to the bottom line of pharmaceutical companies-money that could be used to develop new and innovative treatments and cures.
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= image_tag("exercise.jpg", class: "mw-100") %>
        </div>
        <div class="col-lg-6">
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            Various technological solutions, such as so-called "smart bottles" and monitored activities, regularly jeopardize sensitive patient information to security breaches and risk regulatory fines because conventional solutions can and are being hacked.
          </p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            Last year saw record HIPPA-related fines for failure to safeguard patient information.
          </p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            Luckily, there is a 100% guaranteed secure solution that overcomes all of these challenges.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            RAIDAtech Patient AIO (All-in-One) is a next-generation incentivization, engagement and gamification platform backed by RAIDA, an unhackable, invulnerable protocol that's three-sextillion (3e+21) times more secure than blockchain or cloud-based systems.
          </p>
          <div>
            <%= image_tag("mi.jpg", class: "mi") %>
          </div>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            RAIDA (Redundant Array of Independent Detection Agents) has data-supremacy and is distributed and immutable like blockchain, yet is radically faster, securely unhackable, globally scalable, quantum-safe, totally private and eco-friendly.
          </p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            RAIDAtech Patient AIO is a win-win-win-win-win that promotes patient medication adherence, improves healthcare delivery and outcomes, reduces overall healthcare costs and boosts the bottom line of pharmaceutical companies-all while protecting sensitive patient data in the only truly secure and compliant way. 
          </p>
        </div>
      </div>   
    </div>
  </section>
</main>