<main>
  <section id="packaging" class="ps">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <h2 class="title animated fadeInUp">Guaranteed Authentication Packaging Solutions</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <ul class="check-list">
            <li>Fail safe anti-counterfeiting solutions</li>
            <li>Simple and affordable</li>
            <li>Protects your brand, trust and recognition</li>
            <li>Real-time end-to-end supply chain management (track & trace)</li>
            <li>Bespoke solutions for each client</li>
          </ul>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            The marketplace is flooded with innovative and creative anti-counterfeiting and authentication solutions, but most have the same fundamental weakness - authentication data must stored somewhere and must be transmitted between two or more points by secure means. There is no full-proof way to guarantee authentication without secure data storage and transfer. Counterfeiters can and will hack into online/cloud databases and blockchains. 
          </p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            That’s where RAIDAtech’s provisionally patented technology provides a superior solution. 
          </p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            RAIDA is the next-generation of data transfer and authentication, providing <b>the only 100% safe and secure data transfer protocol.</b> It simply cannot be hacked, intercepted, compromised or manipulated, even by quantum computers. RAIDAtech provides real-time transfers at the fastest possible speeds while safeguarding information and respecting the environment. 
          </p>

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Applications:</h3>
          <ul class="split-list">
            <li>Packaging</li>
            <li>Wines and spirits</li>
            <li>Food and beverage</li>
            <li>Pharmaceuticals</li>
            <li>Medical Devices</li>
            <li>Cosmetics</li>
            <li>Raw materials</li>
            <li>Auto Parts</li>
            <li>And more</li>
          </ul>

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">What is RAIDA?</h3>

          <p>Each RAIDA (Redundant Array of Independent Detection Agents) network is a series of autonomous nodes that authenticate data using provisionally-patented protocols exclusively licensed to RAIDAtech.  RAIDA is simple, fast, cost-effective, eco-friendly and scalable and offers security three-sextillion times (3e+21) stronger than standard encryption.</p>

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">RAIDAtech solutions:</h3>

          <ul class="split-list">
            <li>100% demonstrated authenticity</li>
            <li>Most affordable per item cost</li>
            <li>End-to-end traceability options</li>
            <li>Easy to use and implement (no special equipment or production costs)</li>
            <li>Can provide real-time data for analytics and customer-engagement/loyalty</li>
            <li>Inimitability</li>
            <li>Tamper-evident</li>
            <li>Full technical support </li>
          </ul>

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Technology Options</h3>

          <ul>
            <li>Printed alphanumeric codes/ barcodes/ QR codes (overt or covert)</li>
            <li>Radio Frequency Identification (RFID) chips</li>
            <li>Bluetooth Low Energy (BLE) chps</li>
            <li>Near Field Communications (NFC) chips</li>
          </ul>

          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.4s">For more information contact Sean Worthington <a href="mailto:solutions@raidatech.com">solutions@raidatech.com</a></p>
        </div>
      </div>
    </div>
  </section>
</main>